<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="/madlib">
    Choose a person!
    <select name="person">
        <option value="Santa">Santa</option>
        <option value="Beyonce">Beyonce</option>
        <option value="Lincoln">Lincoln</option>
    </select>
    Choose a color!
    <select name="color">
        <option value="pink">Pink</option>
        <option value="orange">Orange</option>
        <option value="blue">Blue</option>
    </select>
    Choose a noun!
    <select name="noun">
        <option value="unicorn">Unicorn</option>
        <option value="pickle">Pickle</option>
        <option value="snorkel">Snorkel</option>
    </select>
    Choose an adjective!
    <select name="adjective">
        <option value="sexy">Sexy</option>
        <option value="unique">Unique</option>
        <option value="hideous">Hideous</option>
    </select>
    
    <input type ="submit">
</body>
</html>